<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="user.userName" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter user name"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">User name is required</div>
        <div class="form-group">
          <label for="contactNo">ContactNo</label>
          <input type="number" [(ngModel)]="user.contactNo" 
            class="form-control" 
            id="contactNo" 
            name="contactNo" 
            placeholder="Enter your email address"
            required #email="ngModel">
          <div [hidden]="!email.pristine" class="alert alert-danger">Contact Number is required</div>
        </div>
        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
  